$black: rgba(18, 18, 18, 1);
$galery: rgba(238, 238, 238, 1);
$silver: rgba(191, 191, 191, 1);
$pink : rgba(237, 94, 94, 1);
$pantone: rgba(237, 101, 94, 1);
$orange: rgba(237, 154, 94, 1);
$golden: rgba(237, 194, 94, 1);
$yellow: rgba(237, 213, 94, 1);
$green: rgba(94, 237, 99, 1);
$paleGreen: rgba(213, 237, 94, 1);
$sky_blue: rgba(94, 218, 237, 1);
$blue: rgba(48, 91, 232, 1);
$purple: rgba(121, 94, 237, 1);
$violet: rgba(190, 94, 237, 1);